/* Variables de color */
:root {
    --blanco: #FFFFFF;
    --rosa-claro: #FFDCE5;
    --amarillo: #F2DDA4;
    --marron-claro: #AC8587;
    --rosa-oscuro: #E77FA0;
    --rojo: #E22020;
    --marron-oscuro: #3F0B1B;
    --lila: #A37DF4;
}

/* Tipografía */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: var(--blanco);
    color: var(--marron-oscuro);
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 2.5em;
    text-shadow: 2px 2px var(--rosa-oscuro);
}

h2 {
    font-size: 2em;
    text-shadow: 1px 1px var(--rosa-oscuro);
}

h3 {
    font-size: 1.5em;
}

/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--marron-oscuro);
    padding: 1em;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: top;

} */

header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: var(--marron-oscuro);
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;  /* Fija el header en la parte superior */
    top: 0;           /* Posiciona el header en la parte superior */
    left: 0;          /* Alinea el header al borde izquierdo */
    width: 100%;     /* Asegura que el header ocupe todo el ancho de la ventana */
    padding: 1em 0 1em 0; /*Asegura el grosor de la barra de menu*/
    z-index: 1000;    /* Asegura que el header esté por encima de otros elementos */
    margin: 0;        /* Elimina márgenes que puedan causar desbordamiento */
}

.header .logo {
    display: flex;
    align-items: center;
    padding-left: 3em;
}

.header .logo img {
    margin-right: 0.5em;
}

.header .logo .logo-text {
    font-family: 'More Sugar', sans-serif;
    font-size: 1.5em;
    color: var(--blanco);
    font-weight: bold;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 2em;
    padding-right: 3em;
}

.nav a {
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

.nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--rosa-claro);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.nav a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.btn {
    background-color: var(--rosa-oscuro);
    padding: 0.7em 1.5em;
    color: var(--blanco);
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--marron-claro);
}

.btn-cta {
    background-color: var(--rosa-oscuro);
    padding: 1em 2em;
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    display: inline-block;
    margin-top: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-cta:hover {
    background-color: var(--marron-claro);
    transform: translateY(-3px);
}

.hero {
    background-image: url('background-image.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    height: 100vh;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
    z-index: 1;
    padding: 2em 1em;
}

.hero-image {
    width: 80%;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    transition: transform 1s ease;
    margin-top: 1em;
}

.hero-image:hover {
    transform: scale(1.05);
}

.cta-container {
    margin-top: 2em;
}

.section {
    padding: 3em 1em;
    text-align: center;
    background-color: var(--rosa-claro);
    border-radius: 20px;
    margin: 2em 1em;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.5s ease;
}

.section-title {
    color: var(--marron-oscuro);
    margin-bottom: 1em;
}

.section.visible {
    transform: translateY(0);
    opacity: 1;
}

.funcionalidades-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.funcionalidad-item {
    background-color: var(--lila);
    padding: 2em;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.funcionalidad-item:hover {
    transform: translateY(-5px) scale(1.05);
}

.beneficios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2em;
}

.beneficio {
    background-color: var(--amarillo);
    padding: 2em;
    margin: 1em;
    border-radius: 20px;
    flex: 1 1 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.beneficio:hover {
    transform: translateY(-5px);
}

.faq {
    background-color: var(--rosa-oscuro);
    padding: 2em;
    margin-bottom: 1em;
    border-radius: 20px;
    color: var(--blanco);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.faq:hover {
    transform: translateY(-5px);
}

.cta {
    background-color: var(--rosa-oscuro);
    color: var(--blanco);
    padding: 3em 1em;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.footer {
    background-color: var(--marron-oscuro);
    color: var(--blanco);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
    border-radius: 20px 20px 0 0;
}

.footer-links a, .footer-social a {
    color: var(--blanco);
    margin-right: 1em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover, .footer-social a:hover {
    color: var(--rosa-claro);
}

/* Estilo para imágenes pequeñas */
.small-logo {
    max-width: 50px;
    max-height: 50px;
    transition: transform 0.3s ease;
}

.small-logo:hover {
    transform: scale(1.1);
}

/* Video responsivo */

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
    margin: 2em auto; /* Centra el video horizontalmente */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Responsivo */
@media (max-width: 768px) {
    .header {
        display: none;
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
    }

    .beneficios {
        flex-direction: column;
    }

    .hero {
        padding: 2em 1em;
        justify-content: flex-end;
    }

    .hero-image {
        bottom: auto;
        width: 100%;
        max-width: 90%;
    }
}
